@media  (max-width: 1221px) {
    .skils_block{
        flex-wrap: wrap;
        .skils_item{
            margin: 0 20px;
        }
        .skil_drop_991px {
            width: 100%;
        }
    }
    .intro_block , .weBest_container ,.nav{
        padding:0 1rem;
    }
    .weBest_container{
        background-image:none!important;
    }
    .blog_flex{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .blog_flex img {
        width: 100%;
        height: 100%;
    }
    .blog_flex_item_slider , .blog_flex_item_info , .feedback_form input#name, .feedback_form #email{ 
        max-width: unset;
        width: 45%;
    }
}
@media  (max-width: 991px) {
    .feedback_form{
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .galery_container{
        flex-wrap: wrap;
        .galery_item{
            width: 50%;
        }
    }
}