@import 'fonts';
// fonts
@import 'sections/header';
// header
@import 'sections/intro';
// intro
@import 'sections/knowus';
// knowus
@import 'sections/weBest';
// weBest
@import 'sections/services';
// weBest
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1920px;
    width:100%;
    margin: 0 auto;
}