@import 'fonts';
// fonts
@import 'sections/header';
// header
@import 'sections/intro';
// intro
@import 'sections/knowus';
// knowus
@import 'sections/weBest';
// weBest
@import 'sections/services';
// services
@import 'sections/skils';
// skils
@import 'sections/recentproducts';
// recentproducts
@import 'sections/galery';
// galery
@import 'sections/twiterinfo';
// twiterinfo
@import 'sections/team';
// team
@import 'sections/clientscoments';
// clientscoments
@import 'sections/blog';
@import 'sections/blogitems';
// blog
@import 'sections/feedback';
// feedback
@import 'carousel';
// carousel
@import 'media';
// media
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1920px;
    width:100%;
    margin: 0 auto;
}
.text-right{
    text-align: right;
}
.ml-auto{
    margin-left: auto;
}
button{
    outline: none;
    cursor: pointer;
}